@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand";
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}

p {
  font-family: "Raleway";
  line-height: 0.7em;
  font-size: 1em;
}

.header-style,.header-logo {
  background-color: #222625;
}
.header-logo {
  height: 8vh;
}
.header-button {
  height: 3.5vh;
}
img, .tickbox-circle {
  height: 3vh;
}
.col, .row {
  padding: 0px;
}
.info-text {
  line-height: 1em;
  font-size: 1em;
  color: lightslategray;
  font-weight: 100;
}


