.header-style {
  background-color: #222625;
  color: #fff;
}
.header-logo {
  height: 8vh;
  background-color: #222625;
}
.col {
  padding: 0px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
