@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap');

.header-style,.header-logo {
  background-color: #222625;
}
.header-logo {
  height: 8vh;
}
.header-button {
  height: 3.5vh;
}
img {
  height: 3vh;
}
.col, .row {
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand";
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}

p, body {
  font-family: "Raleway";
  line-height: 0.7em;
}
p {
  font-size: 1em;
}

/* .btn-primary {
  background-color: #FE5C00;
} */